@page
@model WebApp1.Pages.Ogrenciler.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ogrenci[0].Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogrenci[0].VizeNot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogrenci[0].FinalNot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ogrenci) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VizeNot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalNot)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
